// Put any @imports here
// See Readme for a list of supported ones

$dark-blue: #0042D0;
$light-blue: #6CF8FC;
$yellow: #FBD45F;
$orange: #F6B34B;

body {
  background: black;
  width: 100%;
}
  .container {
    margin: auto;
    width: 600px;
    height: 600px;
  }
    .section-one, .section-two, .section-three {
      border: 1px solid $dark-blue;
      border-radius: 5x;
      list-style: none;
      padding: 0;
    }
        h2 {
          background-color: $dark-blue;
          color: black;
          margin: 0;
          padding: 10px;
          height: 30px;
        }
        h2:hover {
          cursor: pointer;
          background-color: lighten($dark-blue, 20%);
        }
        p {
          color: yellow;
          margin: 20px;
        }
        .close {
          height: 0px;
          overflow: scroll;
          transition: height 1s;
        }
        .open {
          height: 200px;
          display: block;
          overflow: scroll;
          transition: height 1s;
        }